{{#each erros}}
<div class="alert alert-danger">{{texto}}</div> 
{{else}}

{{/each}}
<H1>Criar categoria</H1>
<div class="card">
<form action="/admin/categorias/nova" method="POST" class="pl-20">
<label for="nome">Nome</label>
<input type="text" id="nome" name="nome" placeholder="Nome da Categoria" class="form-control"> 
<label for="slug">Slug</label>
<input type="text" id="slug" name="slug" placeholder="Slug da Categoria" class="form-control">
<br>
<button type="submit" class="btn btn-success">Criar Categoria</button>
</form>
</div>