{{#each erros}}
<div class="alert alert-danger"> {{texto}}</div>
{{else}}

{{/each}}

<div class="card">
    <div class="card-body">
        <h4>Editar Postagem</h4>
        <form action="/admin/postagens/edit" method="POST">
        <input type="hidden" value="{{postagem.id}}" name="id">
            <label for="titulo">Título: </label>
            <input type="text" name="titulo" class="form-control" value="{{postagem.titulo}}" required>
            <label for="slug">Slug: </label>
            <input type="text" name="slug" class="form-control"  value="{{postagem.slug}}"required>
            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" class="form-control"  value="{{postagem.descricao}}" required>
            <label for="conteudo">Conteúdo: </label>
            <textarea name="conteudo" class="form-control" required>{{postagem.conteudo}}</textarea>
            <label for="categoria">Categoria: </label>
            <select name="categoria" class="custom-select">
                {{#each categoria}}
                <option value ="{{_id}}">{{nome}}</option>
                {{else}}
                <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <button class="btn btn-success mt-4" type="submit">Editar postagem</button>
        </form>
    </div>
</div>